@charset "UTF-8";
/* 
	Background-Styles 
*/

body {
	margin:0px; padding:0px;
	background-color:#131211;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	color:#7f7d78;
	font-size:13px;
	line-height:19px;
	background:#1884af url('../images/Capture7.JPG') repeat-x;
	height: 100%;
	min-width: 1000px;
}
#main {
	padding-bottom:5px;
	position:relative;
}
.container {
	width:970px;
	margin:0 auto;
	position:relative;
}

#header {
background-image:url('../images/banner.png');
background-repeat:no-repeat;
height:150px;
width:960px;
}

