body
{
}

.NameProduct
{
	color:#79a109;
	text-align:left;
	}
.Sp
{
	display: block;
	height: auto;
	min-height:250px
}
.Sp .detail
{
	margin-top: 20px;
}
.Sp .button
{
	padding: 5px 10px 5px 10px;
}
.imgsp
{
	float: left;
	margin: 10px;
	float: left;
	width:121px;
	height:179px;
}
