/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body
{
    background-color: #ffffff;
    font-size:13px;
    font-family: Verdana, Arial, sans-serif, Tahoma;
    margin: 0;
    padding: 0;
    color: #000000;
}

#wrap
{
	width:985px;
	margin:auto;
}

#left
{
	width: 215px;
	float:left;	
}

#right
{
	width:770px;
	float:left;	
}

.clearall
{
	clear:both;	
}

h3
{
	color:#f47820;
}

div.box
{
	float:left;
	border-top:3px solid #a0b9d9;	
	border-bottom:3px solid #a0b9d9;
	border-left:1px solid #b0b0b0;
	border-right:1px solid #b0b0b0;
	text-align:center;
}

div.box div.item
{
	float:left;
	border-right:1px solid #b0b0b0;
	border-bottom:1px solid #b0b0b0;
}

div.box div.itemLast
{
	float:left;
	border-bottom:1px solid #b0b0b0;
}

a
{
	color: #076e9e;
	text-decoration:none;
}

a:hover
{
	text-decoration:underline;	
}

a.categoryLink
{
	color: #f47820;
	text-decoration:none;
	font-size:17px;
	font-family: sans-serif, Verdana, Arial, Tahoma;
}

a.categoryLink:hover
{
	text-decoration:underline;	
}

span.button1
{
	float:left;
	font-size:12px;
	display:block;
	width:73px;
	height:25px;
	color:#ffffff;
	padding-top:6px;	
	background-image:url("Images/button1.png");
	cursor:pointer;
}

span.button1:hover
{
	background-image:url("Images/button1Hover.png");
}

span.bullet1
{
	background-image:url("Images/icon_bullet1.gif");	
	width:10px;
	height:10px;
	display:inline-block;
}

.price
{
	font-size:14px;
	font-weight:bold;	
	color:#000000;
}

span.staron
{
	background-image:url("Images/star-on.png");	
	width:16px;
	height:16px;
	display:inline-block;
	cursor:pointer;
}

span.staroff
{
	background-image:url("Images/star-off.png");	
	width:16px;
	height:16px;
	display:inline-block;
	cursor:pointer;
}

/* -----------------------------------------------------------
	Pagination
----------------------------------------------------------- */

div.pagination
{
	margin: 10px 20px 10px 20px;
	padding: 0;
	height: 1%;
	clear: both;
	overflow: hidden;
}

div.pagination div.results
{
	margin: 0;
	padding: 0;
	text-align: left;
	float: left;
}

div.pagination div.results span 
{
	margin: 0;
	padding: 2px 3px;
	height: 1%;
	display: block;
	float: left;
	/*background: #ebebeb url("/images/pager.png") repeat-x;
	border-top: 1px solid #dedede;
	border-left: 1px solid #cfcfcf;
	border-right: 1px solid #c4c4c4;
	border-bottom: 1px solid #c4c4c4;*/
	color: #626262;
	font-weight: normal;
	font-family:sans-serif, Verdana, Arial, Tahoma;
	font-size:14px;
}

div.pagination ul.pager
{
	margin: 0;
	padding: 0;
	float: right;
	text-align: right;
}

div.pagination ul.pager li
{
	margin: 0 0 0 2px;
	padding: 0;
	height: 1%;
	float: left;
	list-style: none;
	/*background: #ebebeb url("/images/pager.png") repeat-x;*/
	/*border-top: 1px solid #dedede;
	border-left: 1px solid #cfcfcf;
	border-right: 1px solid #c4c4c4;
	border-bottom: 1px solid #c4c4c4;
	color: #4A4A4A;*/
	font-weight: normal;
	font-family:sans-serif, Verdana, Arial, Tahoma;
	font-size:14px;
	color:#626262;
}

div.pagination ul.pager li.separator
{
	padding: 2px;   
}

div.pagination ul.pager li.current
{
	padding: 2px;   
	/*background: #b4b4b4 url("/images/pager_selected.png") repeat-x;*/
	/*border-top: 1px solid #cccccc;
	border-left: 1px solid #bebebe;
	border-right: 1px solid #b1b1b1;
	border-bottom: 1px solid #afafaf;
	color: #515151;*/
	color: #000000;
}

div.pagination ul.pager li.disabled
{
	padding: 2px;
	color: #000000;
}

div.pagination ul.pager li a 
{
	margin: 0;
	padding: 2px;
	height: 1%;
	display: block;
	float: left;
	color: #626262;
	text-decoration: none;
}

div.pagination ul.pager li a:hover, 
div.pagination ul.pager li a:active 
{
	/*background: #b4b4b4 url("/images/pager_selected.png") repeat-x;
	border-top: 1px solid #cccccc;
	border-left: 1px solid #bebebe;
	border-right: 1px solid #b1b1b1;
	border-bottom: 1px solid #afafaf;*/
	color: #000000;
}